.flex-container {
    display: flex;
}
.flex-item {
    color: darkslategray;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    flex:1 0 0%;
    border: 1px solid darkgray;
}
.team {
    display: flex;
}
.members {
    flex-direction: column;
}

.column {
    background: #E6E6E6;
}
.flex-row {
    background: #F9F9F9;
}
.sizeSubCol {
    height: 30px;
}
.sizeMember {
    height: 37.2px;
}
.sizeItem {
    height: 40px;
}

.Total {
    background: #264B94;
    color: white;
}
.Total2 {
    background: #24478C;
    color: white;
}
.header {
    background: #E6E6E6;
}
