@font-face {
    font-family: "Open Sans";
    src: url(fonts/OpenSans-Regular.ttf);
}
.content {
    font-family: "Open Sans";
}
.flex {
    font-family: "Open Sans";
    border-left: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}
.flex-container {
    display: flex;
}
.flex-item {
    flex:1 0 0%;
    text-align: center;
}
.flex-items {
    color: white;
    padding: 3px;
    font-size: 13px;
    border-radius: 25px;
    margin-right: 5px;
    height: 20px;
    width: 20px;
}
.team {
    display: flex;
}
.members {
    font-size: 14px;
    flex-direction: column;
    border-right: 1px solid #efefef;
}

.column {
    background: #F9F9F9;
    border-right: 1px solid #efefef;
}
.flex-row {
    background: #F9F9F9;
}
.sizeSubCol {
    background: #F9F9F9;
    height: 30px;
}
.sizeItem {
    height: 55px;
}
.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Aligner-items {
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}
.bottomBorder {
    border-bottom: 1px solid #efefef;
}
/*
.Total {
    border-left: 1px solid #1c356a;
    background: #264B94;
    color: white;
}

.TotalHeader {
    background: #264B94;
    color: white;
}
.Total2 {
    border-left: 1px solid #1c356a;
    background: #24478C;
    color: white;
}
*/

.border-item {
    border-right: 1px solid #efefef;
}
.border-drillDown {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.border-header-total {
    background: #F9F9F9;
}
.border-header {
    border-right: 1px solid #ececec;
    border-bottom: 2px solid #ececec;
 }
.Withing {
    background: #8cc151;
}
.About {
    background: #ffb300;
}
.breached {
    background: #e53935;
}
.Pending {
    background: #546e7a;
}
.no {
    background: #039be5;
}
.legend {
    display: flex;
    margin: 20px;
}