.flex-container {
    display: flex;
}
.flex-item {
    flex:1 0 0%;
    text-align: center;
}
.flex-items {
    border-radius: 25px;
    background-color: green;
    margin-right: 5px;
    height: 10px;
    width: 10px;
}
.team {
    display: flex;
}
.members {
    flex-direction: column;
}

.column {
    background: #E6E6E6;
}
.flex-row {
    background: #F9F9F9;
}
.sizeSubCol {
    height: 30px;
}
.sizeItem {
    height: 40px;
}
.Aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Aligner-items {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.Total {
    background: #264B94;
    color: white;
}
.Total2 {
    background: #24478C;
    color: white;
}
.border-item {
    border-left: 1px solid #efefef;
}
.border-total {
    border-left: 1px solid #1c356a;
}
.border-drillDown {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}
.border-header-total {
    border-bottom: 1px solid #1c356a;
}
.border {
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
 }
.Withing {
    background: #8cc151;
}
.About {
    background: #ffb300;
}
.breached {
    background: #e53935;
}
.Pending {
    background: #546e7a;
}
.no {
    background: #039be5;
}
.legend {
    display: flex;
    margin: 20px;
}